body {
    margin: 0;
    background-color: rgb(39, 39, 39);
    display: flex;
    justify-content: center;
    font-family: "Courier New", Courier, monospace;
  }
  
  canvas {
    margin-top: 10px;
    z-index: 10;
   
    border: 7px solid grey;
    border-radius: 7px;
    
  }
  .play_again{
    margin-top: 15px;
    width: 500px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: azure;
    
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    background-color: rgb(37, 66, 146);
  }
  .play_again button{
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 10px;
    border-radius: 20px;
    background-color: rgb(180, 192, 226);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 80%;
    
    font-weight: 500;
    
    font-size: 20px;
    transition: .2s;
    outline: none;
    color: rgb(4, 92, 223);
  }
  button:hover{
    cursor: pointer;
    background-color: azure;
    box-shadow: 20px 20px 30px -10px #192824;
    transform: scale(1.01);
  }
@media screen and (max-width:500px) {
  canvas{
    width: 100%;
    height: 700px;
    margin-top: 50px;

  }
  .play_again{
    width: 100%;
    height: 700px;
  }
}